<!DOCTYPE html>
<html>
<head>
  <title>Datos</title>
</head>
<body>
  <h1>Hola mundo</h1>
  <p>Nombre: <%= nombre %></p>
  <p>Apellido: <%= apellido %></p>
  <p>Cédula: <%= cedula %></p>
  <p>Sección: <%= seccion %></p>
</body>
</html>